@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,400&display=swap");

/*Variables*/
:root{
    --font-family: "Roboto", sans-serif;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #1f242d;
    --second-bg-color:#2b313d;
    --primary-text-color: #fff;
    --secondary-text-color: #0ef;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #0ef;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --top-margin: 4rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}
/*Fin variables*/

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

h2{
    color: #0ef;
}

a{
    text-decoration: none;
    color: var(--primary-text-color);
    transition: 0.3s;
}

a:hover{
    color: var(--secondary-text-color);
}

body{
    font-family: var(--font-family);
    background-color: var(--second-bg-color);
    color: var(--primary-text-color);
}
/*---------------------------Header--------------------------------*/
nav{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0,0,0,1);
}

nav h1{
    color: var(--secondary-text-color);
}

nav a{
    color: var(--primary-text-color);
    transition: var(--transition);
}

nav a:hover{
    color: var(--secondary-text-color);
}

nav ul{
    display: flex;
    gap: 1.9rem;
}

nav ul li{
    font-weight: var(--bold-font);
}

.menu-button{
    color: #b9b9b9;
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}
/*--------------------------Fin-Header-------------------------*/

/*------------------------Sobre-Mi--------------------------*/
.sobremi{
    display: flex;
    /*flex-direction: row;*/
    align-items: center;
    justify-content: center;
    gap: 3rem;
    max-width: 68.75rem;
    margin: auto;
   /*margin-top: var(--top-margin);*/
    height: 100vh;
   /*flex-wrap: wrap;*/
}

.sobremi img{
    height: 27.5rem;
    width: 27.5rem;
    border-radius: 5%;
}

.bio{
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 8px 4px var(--secondary-shadow);
}

.bio h2{
    margin-bottom: var(--bottom-margin);
    text-align: center;
}

.bio p{
    line-height: var(--line-height);
    padding: 0.3rem 0;
}
/*------------------------Fin-SobreMi--------------------------*/

/*-------------------------Mas-Sobre-Mi--------------------------*/
.mas-sobre{
    background-color: var(--bg-color);
    padding: 2rem 3rem;
    margin-top: 1.5rem;
}

.mas-sobre-container{
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem ;
    justify-content: center;
} 

.mas-sobre-container img{
    width: 30rem;
    align-self: flex-start;
    flex-grow: 1;
}

.mas-sobre-p-container{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mas-sobre h2{
    margin-bottom: var(--bottom-margin);
    text-align: center;
}

.mas-sobre p{
    line-height: var(--line-height);
    padding: 0.4rem;
}
/*-------------------------Fin-Mas-Sobre-Mi--------------------------*/

/*--------------------------Habilidades-------------------------------------*/
.habilidades{
    background-color: var(--bg-color);
    padding: 2rem 0;
    margin-top: 1.5rem;
}
.contenedor-habilidades{
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
}

.habilidades h2{
    margin-bottom: var(--bottom-margin)
}
.contenedor-tarjet-habilidades img{
    padding: 1.25rem;
}
.icon{
    width: 11.875rem;
    height: 11.25rem;
    background-color: var(--bg-color);
    border-radius: 10%;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 30px;
    transition: 0.5s;
}
.icon:hover{
    transform: scale(1.2);
}
/*--------------------------Fin-Habilidades-------------------------------------*/

/*--------------------------Proyectos-------------------------------------*/
.proyectos{
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 1.5rem;
}
.proyectos h2{
    text-align: center;
    margin-bottom: var(--bottom-margin);
}
.foto-proyecto{
    width: 80%;
    height: 75%;
}

.contenedor-proyectos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-proyecto{
    text-align: center;
    margin: 0.5rem 0;
    transition: 0.2s;
}

.titulo-proyecto:hover{
    cursor: pointer;
}

.contenedor-proyectos-in{
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
    transition: 0.5s;
}
.contenedor-proyectos-in:hover{
    transform:scale(1.2);
}

.contenedor-proyectos-in p{
    padding: 0.4rem;
}

.descripcion-proyecto{
    margin-bottom: var(--bottom-margin);
}

.tarjeta-proyectos{
    background-color: var(--bg-color);
    color: var(--primary-text-color);
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 2.5rem;
}
/*-------------------------Fin-Proyectos-------------------------------------*/

/*------------------------------Contacto-------------------------*/
.contacto{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
}
.contacto h2{
    text-align: center;
    margin-bottom: 3.2rem;
}

.contenedor-contacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7rem;
    
}

.contenedor-formulario form{
    display: flex;
    flex-direction: column;
    max-width: 40.75rem;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px var(--secondary-shadow);

}

.contenedor-formulario label{
    line-height: 2.7em;
    font-weight: var(--bold-font);
    color: var(--secondary-text-color);
}

.contenedor-formulario textarea{
    min-height: 6.25rem;
    font-size: 14px;
}

.input-field{
    width: 100%;
    height: 1.5rem;
    padding-top: 10px 0;
   /* border-radius: 5px;*/
    border: none;
    outline: none;
   /* border: 2px outset var(--secondary-text-color);
    font-size: 0.875rem;*/
    background-color: transparent;
    transition: 0.4s;
    border-bottom: 2px outset transparent;
    color: var(--primary-text-color);
}

.input-field::placeholder{
    color: #b9b9b9;
    font-family: "Roboto", sans-serif
}

.input-field:focus{
    border-bottom: 2px outset #0ef;
    background: linear-gradient(180deg, transparent, rgba(44, 44, 44, 0.692));
}

.submit-btn{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: var(--secondary-text-color);
    border: 2px solid var(--secondary-text-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
}

.submit-btn:hover{
    background-color: #0bc;
    border: 2px solid #0bc;
    cursor: pointer
}
.submit-btn:active{
    background-color: #bef;
    border: 2px solid #bef ;
}

footer{
    background-color: var(--bg-color);
    width: 100%;
    height: 5rem;
    padding: 0.5rem;
    text-align: center;
    color: #9c9faf;
}
/*-----------------------------Fin-Contacto-------------------------*/

/*---------------------Footer--------------------------*/
footer p{
    margin-top: 1.5rem;
}
/*---------------------Fin-Footer--------------------------*/


/*-----------------Responsive-------------------------*/
@media screen and (max-width: 720px){
    nav {
        padding: 1.5rem 1rem;
    }
    nav ul{
        position: fixed;
        background-color: var(--bg-color);
        flex-direction: column;
        top: 86px;
        left: 10%;
        width: 80%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
    }
    nav ul li{
        margin: 8px;
    }
    .menu-button{
        display: block;
    }
    nav ul.show{
        transform: translateX(0);
    }
    .sobremi{
        margin-top: -4rem;
        flex-direction: column;
        gap: 9rem;
        height: 100%;
        margin-top: var(--top-margin);
        margin-bottom: 4.5rem;
    }
    .sobremi img{
        height: 20rem;
        width: 20rem;
    }
    .bio{
        margin-top: -7rem;
        width: 20.5rem;
    }
    .mas-sobre-container{
        margin-top: 2rem;
        padding: 1rem;
        flex-direction: column;
    }
    .mas-sobre-container img{
        width: 90%;
        align-self: center;
    }
    .mas-sobre h2{
        text-align: center;
    }
    .mas-sobre p{
        text-align: justify;
    }
    .icon{
        width: 5.45rem;
        height: 5.25rem;
    }
    .contenedor-proyectos{
        flex-direction: column;
    }
    .contenedor-proyectos-in{
        width: 15.875rem;
    }
    .contenedor-contacto{
        flex-direction: column;
        max-width: 23.75rem;
        justify-content: center;
        margin: auto;
        padding: 2rem;
    }
}